<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>index</title>
</head>

<body>
    <h1>Users</h1>
    <table>
        <tr>
            <th>Id</th>
            <th>Full Name</th>
            <th>Email</th>
            <th>Created At</th>
            <th>Actions</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td> {{ user.first_name }} {{ user.last_name}}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.created_at }}</td>
            <td>
                <a href="show/{{ user.id }}">Show</a>
                <a href="edit/{{ user.id }}">Edit</a>
                <a href="destroy/{{ user.id }}">Delete</a>
            </td>
        </tr>
        {% endfor %}

    </table>

    <a href="new">add a new user</a>







</body>

</html>