<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Users New</title>
</head>

<body>
    <h1>Add a new user</h1>

    <form action='create' method='POST'>
        {% csrf_token %} First Name:
        <input type='text' name='first_name'>
        <br> Last Name:
        <input type='text' name='last_name'>
        <br> Email Name:
        <input type='email' name='email'>
        <button>create</button>
        <br>

    </form>
    {% if messages %} {% for message in messages %} {{ message }} {% endfor %} {% endif %}

</body>

</html>