<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>show</title>
</head>

<body>
    <h1>User {{ id }}</h1>

    <p>Full Name: {{ user.first_name }} {{ user.last_name }}
        <br> Email: {{ user.email }}
        <br> Created at: {{ user.created_at }}
        <br>

    </p>

    <form action='/edit/{{ user.id }}' method='POST'>
        {% csrf_token %}
        <button>Edit</button>
        
    </form>
    <form action='/destroy/{{ user.id }}' method='POST'>
        {% csrf_token %}
        <button>Delete</button>
        
    </form>
    <form action='/' method='POST'>
        {% csrf_token %}
        <button>Home</button>
        
    </form>

</body>

</html>