<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Submit</title>
</head>

<body>

    

        <table>
            <tr>
                <th>Id</th>
                <th>Full Name</th>
                <th>Email</th>
                <th>Created At</th>
                <th>Actions</th>
            </tr>

            <tr>
                <td>{{ ID }}</td>
                <td> {{ name }}</td>
                <td>{{ email }}</td>
                <td>date</td>
                <td><form action='/' method='POST'>
                    {% csrf_token %} 
                    <button>show</button>
            </form>
            <form action='/' method='POST'>
                {% csrf_token %} 
                <button>edit</button>
        </form>
        <form action='/' method='POST'>
            {% csrf_token %} 
            <button>delete</button>
            
    </form>
            </td>
            </tr>

         
    
</body>

</html>