<html>

<head>
    <title>Ninja</title>
</head>

<body>
    <h1> Information about ninjas</h1>
    <P>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut semper nulla non interdum interdum. Donec finibus ipsum porttitor
        metus sollicitudin sagittis. Pellentesque efficitur sapien nisl, eu lacinia sem blandit vitae. Sed sapien erat, consequat
        sit amet congue a, vehicula nec est. Vivamus quis neque ut risus facilisis sodales. Duis quis ex aliquam, varius
        urna sed, lacinia nulla. Nam vitae placerat nulla. Sed id augue massa. Fusce eu augue viverra, ultricies neque vel,
        tempus eros. Etiam scelerisque nisi a diam sodales viverra. Duis congue orci nibh, non cursus nunc ullamcorper non.
        Pellentesque ac varius orci. In mollis hendrerit orci sed tempus. Aenean et magna egestas, tristique justo eget,
        consequat justo. Sed consectetur hendrerit nibh. Cras quis quam sed mi aliquam feugiat eu nec tellus. Fusce tellus
        neque, volutpat ut dignissim nec, faucibus quis nulla. Phasellus feugiat tellus at velit ultricies vulputate. Sed
        pulvinar odio nec mi porta, vel pharetra orci ornare. Nam nisi nunc, maximus eu aliquam sit amet, suscipit a dolor.
        Pellentesque felis libero, tempor vel ex a, efficitur pretium lorem. Fusce convallis egestas feugiat. Proin eu massa
        euismod, blandit tellus vel, faucibus ipsum. Vestibulum viverra justo non turpis pharetra mattis. Phasellus odio
        ligula, pellentesque a commodo ut, posuere sed ante. Nulla pharetra placerat lacus, ac mollis lectus molestie ac.
        Nulla et dictum quam.</P>
</body>





</html>