<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ninja Gold</title>
</head>

<body>

    <h3>Your Gold: {{ request.session.gold_count }} </h3>

    <div>
        <h2>Farm</h2>
        <p>(earns 10-20 gold)</p>
        <form action='/money' method='POST'>
            {% csrf_token %}
            <input type="hidden" name="action" value="farm">
            <input type="submit" value="Find Gold!">
        </form>
    </div>

    <div>
        <h2>Cave</h2>
        <p>(earns 5-10 gold)</p>
        <form action='/money' method='POST'>
            {% csrf_token %}
            <input type="hidden" name="action" value="cave">
            <input type="submit" value="Find Gold!">

        </form>
    </div>

    <div>
        <h2>House</h2>
        <p>(earns 2-5 gold)</p>
        <form action='/money' method='POST'>
            {% csrf_token %}
            <input type="hidden" name="action" value="house"> 
            <input type="submit" value="Find Gold!">
        </form>
    </div>

    <div>
        <h2>Casino</h2>
        <p>(earns 0-50 gold)</p>
        <form action='/money' method='POST'>
            {% csrf_token %}
            <input type="hidden" name="action" value="casino">
            <input type="submit" value="Find Gold!">
        </form>
    </div>

    <div>
        <h3>Activities:</h3>
        {% for info in request.session.activity_log %}
        <p> {{ info }}</p>
        {% endfor %}
    </div>






</body>

</html>