<html>
<head><title>Dojo Survey</title>
</head>

<body>
<form action='/results' method='post'>
    Your Name:
    <input type='text' name='name'><br><br>
    Dojo Location:
    <select name='dojoloc'>
        <option value='Chicago'>Chicago</option>
        <option value='Seattle'>Seattle</option>
        <option value='Tulsa'>Tulsa</option>
    </select>
    <br><br>
    Favorite language: 
    <select name='fav_lang'>
        <option value='python'>python</option>
        <option value='mean'>mean</option>
        <option value='css'>css</option>
    </select>
    <br><br>
    <textarea name="comment">Enter text here...</textarea>
    <button type="submit">Submit</button>
</form>


</body>





</html>