<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>INDEX</title>
</head>
<body>
    <h1>Register</h1>
    <form action="/register" method="post">
        {% csrf_token %}
        First Name: <input type="text" name="first"><br>
        Last Name: <input type="text" name="last"><br>
        Email: <input type="email" name="email"><br>
        Password: <input type="password" name="password"><br>
        Password: <input type="password" name="confirm_password"><br>
        <button>REGISTER</button>
    </form>
    <h1>Log In</h1>
    <form action="/login" method="post">
        {% csrf_token %}
        Email: <input type="email" name="email"><br>
        Password: <input type="password" name="password"><br>
        <button>LOG IN</button>
    </form>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</body>
</html>